# compiled source
# ---------------
*.com
*.class
*.dll
*.exe
*.o
*.so 
#
# backup files 
# ---------------
*.bak
*.*~
#
# explicit files
# ---------------
doc/
instructions/
.Rhistory
.RData
*.rds
scc.*
*.txt
*.csv
*.zip
